.container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 50px;
  grid-template-areas: 
    "header header header header"
    "sidenav main main main"
    "sidenav footer footer footer";
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
  background-color: #394263;

  display: flex;
  flex-direction: column;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
  background-color: #8fd4d9;

  display: flex;
  flex-direction: column;
}